---
import HtmlLayout from '../../layouts/HtmlLayout.astro';
import MarkdownContent from '../../snippits/tools.mdx';
import Card from "../../components/Card.astro";
import CardRow from "../../components/CardRow.astro";
import CardV from "../../components/CardV.astro";

const TOOLS = [
    {
        title: 'Snowrunner Save Editor',
        desc: 'Edit task and mission progress · Reveal or obtain upgrades',
        img: '/images/snowrunner.jpg',
        link: '/tools/snowrunner'
    },
    {
        title: 'Printable Daily Schedule',
        desc: 'Generates a daily planner for appointments · One page a day · Printable',
        img: '/images/book.jpg',
        link: '/tools/print-schedule'
    }
]
---
<HtmlLayout title="Developer Tools" description="List of all tools • For software developers and more">
    <!--<Card>
        <h1>All tools</h1>
        <MarkdownContent/>
    </Card>

    {
        TOOLS.map(tool =>
                <Card>
                    <CardRow title={tool.title} desc={tool.desc} img={tool.img} url={tool.link}/>
                </Card>
        )
    }

    <Card title="All Tools">
        <MarkdownContent/>
        {
            TOOLS.map(tool =>
                    <CardRow title={tool.title} desc={tool.desc} img={tool.img} url={tool.link}/>
            )
        }
    </Card>-->

    <div class="card">
        <h1>Awesome Tools</h1>
    </div>

    <div class="card-v-layout">
        {
            TOOLS.map(tool =>
                    <div class="card">
                        <CardV title={tool.title} desc={tool.desc} img={tool.img} url={tool.link}/>
                    </div>
            )
        }
    </div>
</HtmlLayout>