---
import {getCollection} from "astro:content";
import {getCollectionSortedByOrder} from "../../utils/articleUtils";

const {limit} = Astro.props;

const posts = (await getCollection('articles')).filter(item => !item.data.draft && !item.data.hide).sort(
    (a, b) => new Date(b.data.published).valueOf() - new Date(a.data.published).valueOf()
);

const standardNotesArticles = await getCollectionSortedByOrder('standard-notes');
const localizationArticles = await getCollectionSortedByOrder('number-localization');

const postsToShow = limit ? posts.slice(0, limit-2) : posts;
---

<div class="max-w-[1200px] mx-auto">
    <div class="mt-20 card overflow-hidden">
      <div class="text-center px-10 py-5 text-2xl font-bold">Standard Notes</div>
      <div class="card-contents">
        {
          standardNotesArticles.map((post) => (
            <div class="card-row">
              <a href={'/standard-notes/' + post.slug} class="card-row-text">
                <div class="card-row-title">{post.data.title}</div>
                <div class="card-row-desc">{post.data.desc}</div>
              </a>
            </div>
          ))
        }
      </div>

    </div>

    <div class="mt-10 card overflow-hidden">
      <div class="text-center px-10 py-5 text-2xl font-bold">Number Localization</div>
      <div class="card-contents">
        {
          localizationArticles.map((post) => (
            <div class="card-row">
              <a href={'/articles/number-localization/' + post.slug} class="card-row-text">
                <div class="card-row-title">{post.data.title}</div>
                <div class="card-row-desc">{post.data.desc}</div>
              </a>
            </div>
          ))
        }
      </div>

    </div>

  <div class="mt-10 card overflow-hidden">
    <div class="text-center text-2xl px-10 py-5 font-bold">Other Articles</div>
    <div class="card-contents">
      {
        postsToShow.map((post) => (
          <div class="card-row">
            <a href={'/articles/' + post.slug} class="card-row-text">
              <div class="card-row-title">{post.data.title}</div>
              <div class="card-row-desc">{post.data.desc}</div>
            </a>
          </div>
        ))
      }
    </div>

  </div>

</div>
<style>
  .card-contents {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 800px) {
    .card-contents {
      grid-template-columns: 1fr;
    }
  }

  .card-row-text {
    cursor: pointer;
  }
</style>
