---
import '../../styles/footer.css';
import EmailMe from "../EmailMe.astro";

const today = new Date();

const githubSVG = await fetch('https://storage.googleapis.com/randombits/images/github.svg');
const discordSVG = await fetch('https://storage.googleapis.com/randombits/images/discord.svg');
const twitterSVG = await fetch('https://storage.googleapis.com/randombits/images/x.svg');
const envelopeSVG = await fetch('https://storage.googleapis.com/randombits/images/envelope.svg');
const linktree = await fetch('https://storage.googleapis.com/randombits/images/linktree.svg');
const keybase = await fetch('https://storage.googleapis.com/randombits/images/keybase.svg');
---

<footer>

  <div class="footer-content">
    <nav aria-label="Social Links" class="social-links">
      <a href="mailto:matt@randombits.dev" class="btn-email btn-secondary inline-flex items-center ">
        <div set:html={envelopeSVG}/><div class="text-xl ml-5 lowercase">matt@randombits.dev</div>
      </a>
      <div class="flex">
      <a href="https://github.com/randombits-dev" target="_blank" aria-label="Github">
        <div set:html={githubSVG}/>
      </a>
      <a href="https://discord.gg/VdAySp2Y" target="_blank" aria-label="Discord">
        <div set:html={discordSVG}/>
      </a>
      <a href="https://twitter.com/RandomBitsDev" target="_blank" aria-label="Twitter">
        <div set:html={twitterSVG}/>
      </a>
      <a href="https://linktr.ee/randombits" target="_blank" aria-label="Linktree">
        <div set:html={linktree}/>
      </a>
      <a href="https://keybase.io/randombitsdev" target="_blank" aria-label="Keybase">
        <div set:html={keybase}/>
      </a>
      </div>
    </nav>

  </div>

  <div class="copyright">
    &copy; {today.getFullYear()} Random Bits
  </div>
</footer>

<style>
  .btn-email {
    border: 3px solid #111;
    border-radius: 10px;
    padding: 10px 20px;
  }
</style>

<script>

</script>
