---
import '../../styles/footer.css';

const today = new Date();

const githubSVG = await fetch('https://storage.googleapis.com/randombits/images/github.svg');
const discordSVG = await fetch('https://storage.googleapis.com/randombits/images/discord.svg');
const twitterSVG = await fetch('https://storage.googleapis.com/randombits/images/x.svg');
const envelopeSVG = await fetch('https://storage.googleapis.com/randombits/images/envelope.svg');
const linktree = await fetch('https://storage.googleapis.com/randombits/images/linktree.svg');
---

<footer>
    <div class="footer-content">
        <div class="social-links">
            <a href="https://github.com/nienow" target="_blank" aria-label="github social link">
                <div set:html={githubSVG}/>
            </a>
            <a href="https://discordapp.com/users/806661811143049216" target="_blank" aria-label="discord social link">
                <div set:html={discordSVG}/>
            </a>
            <a href="https://twitter.com/RandomBitsDev" target="_blank" aria-label="twitter social link">
                <div set:html={twitterSVG}/>
            </a>
            <a href="https://linktr.ee/randombits" target="_blank" aria-label="linktree social link">
              <div set:html={linktree}/>
            </a>
            <button id="footer__envelope">
              <span set:html={envelopeSVG}/>
              <span id="footer__quick-msg" class="quick-msg">Email copied</span>
            </button>

        </div>
    </div>
    <div class="copyright">
        &copy; {today.getFullYear()} Random Bits
    </div>
</footer>

<script>
  document.getElementById('footer__envelope').addEventListener('click', (e) => {
    const output = ['matt', 'randombits', 'dev'];
    navigator.clipboard.writeText(`${output[0]}@${output[1]}.${output[2]}`);
    document.getElementById('footer__quick-msg').style.display = 'inline';
    setTimeout(() => {
      document.getElementById('footer__quick-msg').style.display = 'none';
    }, 1500);
  });
</script>
