---
import {getCollection} from 'astro:content';
import Card from "../../components/Card.astro";
import BlogSidebar from "../../layouts/BlogSidebar.astro";
import CardRow from "../../components/CardRow.astro";
import ArticleTOC from "../../components/article/ArticleTOC";

export async function getStaticPaths() {
    const blogEntries = await getCollection('standard-notes');
    return blogEntries.map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}

const {entry} = Astro.props;
const {Content, headings} = await entry.render();

const articles = (await getCollection('standard-notes'));
const path = Astro.url.pathname.replace(/\/+$/, '');
const h2Headings = headings.filter(h => h.depth === 2);

---
<BlogSidebar content={entry.data} group="Standard Notes">
    <ArticleTOC slot="sidebar" client:load path={path} relatedPages={articles} headings={h2Headings}/>
    <Content slot="content"/>
    <div slot="after" class="card article__further-reading">
        <h2>Further Reading</h2>
        {
            articles.map(article => {
                const showLink = !path.endsWith(article.slug);
                if (showLink) {
                    return <CardRow title={article.data.title}
                                    desc={article.data.desc}
                                    url={article.slug}
                                    img={article.data.img}/>;
                }
            })
        }
    </div>
</BlogSidebar>
