---
const {article, url} = Astro.props;
---

<a href={url} class="nav">
    <div class="card image-card">
        <div class="card-flex">
            <img src={article.img}/>
            <div class="card-text">
                <div class="card-row-title">{article.title}</div>
                <div class="card-row-desc">{article.desc}</div>
                {
                    article.links2 && article.links.map(link =>
                                <div class="card-row-link"><a href={link[1]}>{link[0]}</a></div>
                    )
                }
            </div>
        </div>
    </div>
</a>

<style>
    .card-flex {
        display: flex;
    }

    .card-text {
        flex: 1 1 auto;
        padding: 20px;
    }

    img {
        flex: 0 0 auto;
        border-right: var(--border-width) solid var(--border-color);
        max-width: 150px;
        height: auto;
        object-fit: cover;
    }
</style>