---
import Article from './Article.astro'; import {getCollection} from "astro:content";
import CardRow from "./CardRow.astro";
import Card from "./Card.astro";
import CardV from "./CardV.astro";

const {limit} = Astro.props;

const posts = (await getCollection('articles')).filter(item => !item.data.draft && !item.data.hide).sort(
    (a, b) => new Date(b.data.published).valueOf() - new Date(a.data.published).valueOf()
);
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob('../pages/articles/*.{md,mdx}')).filter(item => !item.frontmatter.draft)

const postsToShow = limit ? posts.slice(0, limit) : posts;
---

<div class="card-v-layout">
    {
        postsToShow.map(post =>
                <div class="card">
                    <CardV title={post.data.title} desc={post.data.desc} img={post.data.img}
                           url={'/articles/' + post.slug}/>
                </div>
        )
    }
</div>

