---
const {article, url} = Astro.props;
---

<a href={url} class="nav">
    <div class="card card-large">
        <div class="card-flex">
            <img width="200" height="200" src={article.img}/>
            <div class="card-text">
                <div class="card-row-title">{article.title}</div>
                <div class="card-row-desc">{article.desc}</div>
                {
                    article.links2 && article.links.map(link =>
                                <div class="card-row-link"><a href={link[1]}>{link[0]}</a></div>
                    )
                }
            </div>
        </div>
    </div>
</a>

<style>
    .card-flex {
        display: flex;
    }

    .card-text {
        margin-left: 10px;
        flex: 1 1 auto;
    }

    img {
        flex: 0 0 auto;
        border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);
        border-right: 1px solid var(--border-color);
        margin: -20px 10px -20px -20px;
        height: 200px;
    }
</style>