---
import {getCollection} from "astro:content";


import ImageCard from "./ImageCard.astro";

const numberLocalization = {
    img: '/images/chalkboard.jpg',
    title: 'Number Localization - The Ultimate Guide',
    desc: 'All of the different ways a number can be formatted. Decimal symbols, grouping symbols, and numbering systems. How to format and parse a number in any locale with javascript.',
    links: [
        ['Intro to Number Localization', '/articles/number-localization/intro'],
        ['Formatting Numbers', '/articles/number-localization/formatting'],
        ['Parsing Numbers', '/articles/number-localization/parsing']
    ]
};

const standardNotes = {
    img: '/images/notebook2.jpg',
    title: 'Standard Notes Extension Guide',
    desc: 'One of the best parts of Standard Notes is the ability to use extensions. This is a comprehensive guide for how to install and write editor extensions.',
    links: [
        ['Intro to Extensions', '/standard-notes'],
        ['Cosmos Extension', '/standard-notes/cosmos'],
        ['Creating your own extension', '/standard-notes/creating-extensions']
    ]
};

const posts = (await getCollection('articles')).filter(item => !item.data.draft && !item.data.hide).sort(
    (a, b) => new Date(b.data.published).valueOf() - new Date(a.data.published).valueOf()
);

const limit = 5;
const postsToShow = limit ? posts.slice(0, limit) : posts;
---

<div class="card-list">
    <ImageCard img={numberLocalization.img} title={numberLocalization.title} desc={numberLocalization.desc}
               url={'/articles/number-localization/intro'}/>
    <ImageCard img={standardNotes.img} title={standardNotes.title} desc={standardNotes.desc}
               url={'/standard-notes'}/>

    {
        postsToShow.map((post) => (
                <ImageCard img={post.data.img} title={post.data.title} desc={post.data.desc}
                           url={'/articles/' + post.slug}/>
        ))
    }
</div>