---
const THEME_LIST = [
    {id: "base", name: "Fruity"},
    // {id: "clay", name: "Clay"},
    // {id: "camo", name: "Camo"},
    // {id: "strawberry", name: "Berry"},
    {id: "gray", name: "Overcast"},
    {id: "daring", name: "Dare"},
    {id: "bee", name: "Buzz"},
    {id: "dark-metal", name: "Metal"},
    {id: "dark-fear", name: "Fear"},
    {id: "bold", name: "Bold"},
];
---

<div class="fixed w-full bottom-[-20px] text-center">

<div class="text-neutral-100 inline-block rounded-t-xl overflow-hidden">
    {
        THEME_LIST.map(theme => {
           return  <button class="inline-block px-5 py-3 pb-6 justify-center" data-theme-control={theme.id}>{theme.name}</button>
        })
    }
</div>
</div>


<script>
    let currentTheme = localStorage.getItem("theme") || 'base';

    function changeTheme(newThemeId)  {
        const htmlClass = document.documentElement.classList;
        htmlClass.remove(`theme-${currentTheme}`, 'theme-dark');

        currentTheme = newThemeId;
        if (newThemeId.startsWith('dark-')) {
            document.documentElement.classList.add(`theme-${newThemeId}`, `theme-dark`);
        } else {
            document.documentElement.classList.add(`theme-${newThemeId}`);
        }
        localStorage.setItem("theme", newThemeId);
    }

    document.querySelectorAll('[data-theme-control]').forEach(btn => {
       btn.addEventListener('click', (e) => {
           changeTheme(btn.getAttribute('data-theme-control'));
           document.querySelector('butt')
           e.target.classList.add('selected');
       });
    });

</script>

<style>
    button {
        border-radius: 0;
        background-color: var(--color-content) !important;
    }

    button:hover {
        translate: -0px -3px;
    }

    button.selected {
        background-color: #ff0000 !important;
    }

    button:first-child {
        border-radius: 5px 0 0 5px;
    }

    button:last-child {
        border-radius: 0 5px 5px 0;
    }

</style>