---
import {getCollection} from 'astro:content';
import BlogPost from "../../../layouts/BlogPost.astro";
import BlogSidebar from "../../../layouts/BlogSidebar.astro";
import Card from "../../../components/Card.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection('articles', ({id}) => {
        return id.startsWith('number-localization/');
    });
    return blogEntries.map(entry => ({
        params: {slug: entry.slug.split('/')[1]}, props: {entry},
    }));
}

const {entry} = Astro.props;
const {Content} = await entry.render();
---
<BlogSidebar content={entry.data}>
    <Card slot="sidebar">
        <a class="nav" href="intro">Intro</a>
        <a class="nav" href="formatting">Formatting</a>
        <a class="nav" href="parsing">Parsing</a>
        <a class="nav" href="numbering-systems">Numbering Systems</a>
        <a class="nav" href="locale-list">Full Locale List</a>
    </Card>
    <Content slot="content"/>
</BlogSidebar>
