---
import HtmlLayout from "./HtmlLayout.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, date, updatedDate, heroImage },
} = Astro.props;
---

<HtmlLayout title={title} description={description}>
	{date && <time>{date}</time>}
	<h1 class="title">{title}</h1>
	{
		updatedDate && (
			<div>
				Last updated on <time>{updatedDate}</time>
			</div>
		)
	}
	<slot />
</HtmlLayout>