---
import '../styles/article-container.scss';
import '../styles/article-body.scss';
import '../styles/prism-custom.scss';
import BlogHeader from "./BlogHeader.astro";
import HtmlLayout from "./HtmlLayout.astro";
import ArticleBody from "../components/article/ArticleBody.astro";

const {
    content,
    group
} = Astro.props;

const fullTitle = group ? group + ' - ' + content.title : content.title;
---

<HtmlLayout title={fullTitle} description={content.desc} img={content.img.src}>
    <div class="article article--sidebar">
        <div class="two-column">
            <sidebar>

            </sidebar>

            <content>

                <div class="card overflow-hidden">

                    <BlogHeader meta={content} group={group}/>
                    <div class="article-body">
                    <slot name="content"/>
                    </div>
                </div>
                <slot name="after"/>
            </content>

            <sidebar>
                <slot name="sidebar"/>
            </sidebar>
        </div>
    </div>
</HtmlLayout>

<style>
    .two-column {
        margin-top: 20px;
        display: grid;
        gap: 40px;
        grid-template-columns: 300px 900px 300px;
    }

    @media screen and (max-width: 1600px) {
        .two-column {
            grid-template-columns: auto 900px 300px;
        }
    }

    @media screen and (max-width: 1300px) {
        .two-column {
            grid-template-columns: auto 900px auto;
        }
        sidebar:last-child {
            display: none;
        }
    }
</style>
