---
import Card from "../components/Card.astro";
import Tag from "../components/Tag.astro";
import QuickLink from "../components/QuickLink.astro";

const {
    meta: {title, summary, tags, desc, updated, img},
} = Astro.props;

const quickLinks = [
    ['Intro to Extensions', '/standard-notes'],
    ['Cosmos Extension', '/standard-notes/cosmos'],
    ['Creating your own extension', '/standard-notes/creating-extensions'],
    ['Extension Starter Template', '/standard-notes/template']
]
---
<div class="card flex">
    <div class="card-contents">
        <div style="flex: 1 1 auto">
            <h1>{title}</h1>
            <p class="summary">{desc}</p>
        </div>
        <!--<div>
            <QuickLink links={quickLinks}/>
        </div>-->
        {updated &&
                <div class="meta-container">
                    <div class="meta date">
                        <date>{updated.toLocaleDateString('en-US', {
                            month: 'long',
                            day: 'numeric',
                            year: 'numeric'
                        })}</date>
                    </div>
                    <div class="meta tags">
                        {
                            tags && tags.map(tag =>
                                        <Tag>{tag}</Tag>)
                        }
                    </div>
                </div>}
    </div>

    {img &&
            <img src={img} height="300"/>}

</div>

<style>

    .card {
        margin: 50px 0;
        overflow: hidden;
    }

    .card-contents {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    img {
        border-left: var(--border-width) solid var(--border-color);
        object-fit: cover;
        height: 100%;
        max-width: 300px;
    }
</style>