---
import HtmlLayout from "./HtmlLayout.astro";
import '../styles/article.css';
import '../styles/prism-custom.css';

const {
    content: {title, summary, published, tags, desc, updated = published},
} = Astro.props;
---

<HtmlLayout title={title} description={desc}>
    <div class="title-container">
        <h1>{title}</h1>
        <p class="summary">{summary}</p>
        <div class="meta-container">
            <div class="meta date">
                <date>last updated on {updated.toLocaleDateString()}</date>
            </div>
            <div class="meta tags">
                {
                    tags && tags.map(tag =>
                                <div class="tag">{tag}</div>)
                }
            </div>
        </div>
    </div>
    <slot/>
</HtmlLayout>