---
import '../styles/article-container.scss';
import '../styles/article-body.scss';
import '../styles/prism-custom.scss';
import BlogHeader from "./BlogHeader.astro";
import HtmlLayout from "./HtmlLayout.astro";
import BaseLayout from "./BaseLayout.astro";

const {
    content,
    group
} = Astro.props;

const fullTitle = content.metaTitle ?? content.title;
---

<BaseLayout title={fullTitle} description={content.desc} img={content.img?.src}>
  <Fragment slot="head">
    <meta property="og:type" content="https://ogp.me/ns/article#" />
    {content.updated && <meta property="article:modified_time" content={content.updated} /> }
  </Fragment>
  <div class="my-20 mx-5 md:mx-10">
    <div class="rb-article">
            <aside class="rb-article__sidebar">

            </aside>

            <section>

                <div class="card overflow-hidden">

                    <BlogHeader meta={content} group={group}/>
                    <article class="article-body">
                    <slot name="content"/>
                    </article>
                </div>
                <slot name="after"/>
            </section>

            <aside class="rb-article__sidebar">
                <slot name="sidebar"/>
            </aside>
    </div>
  </div>
</BaseLayout>

<style>

</style>
