---
import Card from "../components/Card.astro";
import Tag from "../components/Tag.astro";
import QuickLink from "../components/QuickLink.astro";

const {
    meta: {title, summary, tags, desc, updated, img},
} = Astro.props;

const quickLinks = [
    ['Intro to Extensions', '/standard-notes'],
    ['Cosmos Extension', '/standard-notes/cosmos'],
    ['Creating your own extension', '/standard-notes/creating-extensions'],
    ['Extension Starter Template', '/standard-notes/template']
]
---
<Card>
    <div class="container">
        <div class="c2">
            <div style="flex: 1 1 auto">
                <h1>{title}</h1>
                <p class="summary">{desc}</p>
            </div>
            <!--<div>
                <QuickLink links={quickLinks}/>
            </div>-->
            {updated &&
                    <div class="meta-container">
                        <div class="meta date">
                            <date>{updated.toLocaleDateString('en-US', {
                                month: 'long',
                                day: 'numeric',
                                year: 'numeric'
                            })}</date>
                        </div>
                        <div class="meta tags">
                            {
                                tags && tags.map(tag =>
                                            <Tag>{tag}</Tag>)
                            }
                        </div>
                    </div>}
        </div>

        {img &&
                <div class="c3"><img src={img} height="300"/></div>}
    </div>

</Card>

<style>
    .container {
        display: flex;
    }

    .c2 {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    .c3 {
        margin: -20px -20px -20px 15px;
        border-left: 1px solid var(--border-color);
        border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0;
    }

    img {
        object-fit: cover;
        height: 100%;
        max-width: 300px;
        border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0;
    }
</style>