---
import '../styles/article-container.scss';
import '../styles/article-body.scss';
import '../styles/prism-custom.scss';
import BlogHeader from "./BlogHeader.astro";
import HtmlLayout from "./HtmlLayout.astro";

const {
    content,
    group
} = Astro.props;

const fullTitle = group ? group + ' - ' + content.title : content.title;
---

<HtmlLayout title={fullTitle} description={content.desc} img={content.img?.src}>
    <div class="rb-article">
            <aside class="rb-article__sidebar">

            </aside>

            <section>

                <div class="card overflow-hidden">

                    <BlogHeader meta={content} group={group}/>
                    <article class="article-body">
                    <slot name="content"/>
                    </article>
                </div>
                <slot name="after"/>
            </section>

            <aside class="rb-article__sidebar">
                <slot name="sidebar"/>
            </aside>
    </div>
</HtmlLayout>

<style>

</style>
