---
import '../styles/article.css';
import '../styles/prism-custom.css';
import BlogHeader from "./BlogHeader.astro";
import Card from "../components/Card.astro";

import CardRow from "../components/CardRow.astro";
import HtmlLayout from "./HtmlLayout.astro";

const articles = await Astro.glob('../pages/standard-notes/*.md');

const {
    frontmatter,
} = Astro.props;
---

<!--<BlogSidebar content={frontmatter}>
    <Card title="Navigation" slot="sidebar">
        <a class="nav" href="/standard-notes">Intro</a>
        <a class="nav" href="/standard-notes/cosmos">Cosmos</a>
        <a class="nav" href="parsing">Parsing</a>
        <a class="nav" href="numbering-systems">Numbering Systems</a>
        <a class="nav" href="locale-list">Full Locale List</a>
    </Card>
    <div slot="content">
        <slot/>
    </div>
</BlogSidebar>-->

<HtmlLayout title={frontmatter.title} description={frontmatter.desc} img={frontmatter.img}>
    <div class="article">

        <BlogHeader meta={frontmatter}/>



        <div class="card article-body">
            <slot/>
        </div>

        <div class="card further-reading">
            <h2>Further Reading</h2>
            {
                articles.map(article => {
                    const showLink = Astro.url.pathname !== article.url;
                    if (showLink) {
                        return <CardRow title={article.frontmatter.title}
                                         desc={article.frontmatter.desc}
                                         url={article.url}
                                         img={article.frontmatter.img}/>;
                    }
                })
            }
        </div>
    </div>
</HtmlLayout>